USE [DWH]
GO
/****** Object:  StoredProcedure [dbo].[proc_Call_Genesys]    Script Date: 13/05/2025 13:56:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[proc_Call_Genesys]
AS
BEGIN
SET NOCOUNT ON;
--#########################################################################################################
-- Extrea todas las conversaciones realizadas en el intervalo de fecha
--#########################################################################################################

drop table if exists #tmp_json;
select
	a.jobs_conversationId
	,a.jobs_conversationStart
	,a.jobs_conversationEnd
	,a.jobs_mediaStatsMinConversationMos
	,a.jobs_mediaStatsMinConversationRFactor,a.jobs_originatingDirection
	,a.jobs_externalContactId
	,a.jobs_participantId
	,a.jobs_userId
	,a.jobs_participantName
	,a.jobs_purpose
	,iif(a.jobs_sessions='null',null,a.jobs_sessions) as jobs_sessions
	,iif(a.jobs_attributes='null',null,a.jobs_attributes) as jobs_attributes
into #tmp_json
from stg.dbo.tmp_genesys_jobs as a;

-- Extrea las sesiones de cada conversacion
drop table if exists #tmp_json_sessions;
select distinct
	a.jobs_conversationId
	,a.jobs_participantId
	,json_sessions.*
into #tmp_json_sessions
from #tmp_json as a
CROSS APPLY 
    OPENJSON(jobs_sessions) 
    WITH (
        ani NVARCHAR(100),
        direction NVARCHAR(100),
		dnis NVARCHAR(100),
		edgeId NVARCHAR(100),
		mediaType NVARCHAR(100),
		peerId NVARCHAR(100),
		remote NVARCHAR(100),
		sessionDnis NVARCHAR(100),
		sessionId NVARCHAR(100),
		protocolCallId NVARCHAR(100)
    ) AS json_sessions;

-- Extrea los atributos de cada conversacion
drop table if exists #tmp_json_attributes;
select distinct
	a.jobs_conversationId
	,json_attributes.*
into #tmp_json_attributes
from #tmp_json as a
CROSS APPLY 
    OPENJSON(ISNULL(jobs_attributes, '{}'))
    WITH (
        scriptId NVARCHAR(100),
        dialerContactId NVARCHAR(100),
		dialerContactListId NVARCHAR(100),
		dialerCampaignId NVARCHAR(100),
		dialerInteractionId NVARCHAR(100),
		ScreenPopName NVARCHAR(100),
		countryCode NVARCHAR(100),
		C_CustomerId NVARCHAR(100),
		C_OnboardingID NVARCHAR(100),
		C_Producto NVARCHAR(100),
		C_NombreProducto NVARCHAR(100),
		C_Distribuidor NVARCHAR(100),
		C_Motivo NVARCHAR(100),
		QueuName NVARCHAR(100),
		IdInteraction NVARCHAR(100),
        processName NVARCHAR(200),
        Notas NVARCHAR(100),
        C_Notas NVARCHAR(100)
    ) AS json_attributes;

drop table if exists #tmp_GenesysContacts;
select
	details_phone
	,SUBSTRING(details_phone,3,len(details_phone)) as Phone_nbr
	,details_contactlists_id
	,details_countryCode
	,case 
		when details_countryCode = 'MX'  then 3
		when details_countryCode = 'PE'  then 2
		else -1
	end as m_Company_id
	,details_contactReason
    ,min(details_fecha_carga) as FechaCargaUTC_dte
	,iif(details_tpCustomerId<>'',iif(details_tpCustomerId<>0,details_tpCustomerId,null),null) as CustomerId
	,min(try_CONVERT(DATETIME, substring(replace(details_fecha_carga,'Z',' '),1,23), 126)) as FechaCarga_dte
	,min(try_CONVERT(DATETIME, substring(replace(details_callRecords_lastAttempt,'Z',' '),1,23), 126)) as FechaUltStatus_dte
	,min(try_CONVERT(DATETIME, substring(replace(details_dateCreated,'Z',' '),1,23), 126)) as FechaCreado_dte
into #tmp_GenesysContacts
from stg.dbo.tmp_genesys_contactlists_details
group by details_phone
	,SUBSTRING(details_phone,3,len(details_phone))
	,details_contactlists_id
	,details_countryCode
	,case 
		when details_countryCode = 'MX'  then 3
		when details_countryCode = 'PE'  then 2
		else -1
	end 
	,details_contactReason
	,iif(details_tpCustomerId<>'',iif(details_tpCustomerId<>0,details_tpCustomerId,null),null)

update a
set FechaCarga_dte = FechaCarga_dte
	,FechaUltStatus_dte = isnull(bytl.dbo.getdatefromutc2(FechaUltStatus_dte,details_countryCode),dateadd(hour,-6,FechaUltStatus_dte))
	,FechaCreado_dte = isnull(bytl.dbo.getdatefromutc2(FechaCreado_dte,details_countryCode),dateadd(hour,-6,FechaCreado_dte))
from #tmp_GenesysContacts as a

update a
    set a.FechaCarga_dte = try_cast(try_convert(date,FechaCargaUTC_dte, 103) as datetime)
from #tmp_GenesysContacts as a
where FechaCarga_dte is null    

-- Detectar todas las llamadas a detalle
drop table if exists #tmp_sesiones_detalle;
select
	a.jobs_conversationId
	,a.jobs_externalContactId
	,a.jobs_participantId
	,a.jobs_participantName
	,a.jobs_purpose
	,b.sessionId
	,b.mediaType
	,b.direction
	,b.dnis
	,b.peerId
into #tmp_sesiones_detalle
from #tmp_json as a
inner join #tmp_json_sessions as b
	on a.jobs_conversationId = b.jobs_conversationId
	and a.jobs_participantId = b.jobs_participantId
order by a.jobs_participantId
	,b.sessionId

drop table if exists #tmp_sesiones_detalle_v1;
select distinct
	a.*	
	,c.segments_segmentType
	,c.segments_disconnectType
	,c.segments_wrapUpCode
	,c.segments_wrapUpNote
	--,c.segments_countid
	,c.segments_segmentStart
	,c.segments_segmentEnd
	,ROW_NUMBER() OVER(PARTITION BY jobs_conversationId, sessionId ORDER BY segments_segmentStart ASC) AS RowOrder
into #tmp_sesiones_detalle_v1
from #tmp_sesiones_detalle as a
inner join stg.dbo.tmp_genesys_jobs_session_segments as c
	on a.sessionId =  c.segments_sessionId
where a.mediaType = 'voice'
order by jobs_purpose
	,sessionId

drop table if exists #tmp_sesiones_maxregistros;
select
	sessionId
	,max(RowOrder) as MaxRegistro
into #tmp_sesiones_maxregistros
from #tmp_sesiones_detalle_v1
group by sessionId

drop table if exists #tmp_sesiones_total_sesiones;
select
	a.jobs_conversationId
    ,a.jobs_participantId
	,a.jobs_purpose
	,a.sessionId
	,a.peerId
	,a.segments_segmentType
	,a.segments_wrapUpCode
	,a.segments_wrapUpNote
	,a.mediaType
	,convert(datetime,null) as segments_segmentStart
	,max(CONVERT(DATETIME, replace(a.segments_segmentEnd,'Z',''), 126)) as segments_segmentEnd
into #tmp_sesiones_total_sesiones
from #tmp_sesiones_detalle_v1 as a
inner join #tmp_sesiones_maxregistros as mx
	on a.sessionId = mx.sessionId
	and a.RowOrder = mx.MaxRegistro
group by a.jobs_conversationId
    ,a.jobs_participantId
	,a.sessionId
	,a.segments_segmentType
	,a.segments_wrapUpCode
	,a.segments_wrapUpNote
	,a.mediaType
	,a.jobs_purpose
	,a.peerId

drop table if exists #tmp_sesiones_mindate;
select
	sessionId
	,min(CONVERT(DATETIME, replace(segments_segmentStart,'Z',''), 126)) as segments_segmentStart
into #tmp_sesiones_mindate
from #tmp_sesiones_detalle_v1
where RowOrder = 1
group by sessionId

update a
	set a.segments_segmentStart = mn.segments_segmentStart
from #tmp_sesiones_total_sesiones as a
inner join #tmp_sesiones_mindate as mn
	on a.sessionId = mn.sessionId

drop table if exists #tmp_sesiones_total_sesiones_v2;
select distinct
	a.*
	,case
        when a.jobs_purpose = 'customer' then 'customer' 
        when a.jobs_purpose = 'external' then 'external' 
        when a.jobs_purpose = 'outbound' then 'outbound' 
        else a.jobs_purpose
    end as participante_dsc
into #tmp_sesiones_total_sesiones_v2
from #tmp_sesiones_total_sesiones as a
inner join stg.dbo.tmp_genesys_jobs_session_segments as c
	on a.sessionId = c.segments_sessionId
where a.jobs_purpose in ('customer')

insert into #tmp_sesiones_total_sesiones_v2
select distinct
	a.*
	,case
        when a.jobs_purpose = 'customer' then 'customer' 
        when a.jobs_purpose = 'external' then 'external' 
        when a.jobs_purpose = 'outbound' then 'outbound' 
        else a.jobs_purpose
    end as participante_dsc
from #tmp_sesiones_total_sesiones as a
inner join stg.dbo.tmp_genesys_jobs_session_segments as c
	on a.sessionId = c.segments_sessionId
left join #tmp_sesiones_total_sesiones_v2 as d
	on a.jobs_conversationId = d.jobs_conversationId
	and a.sessionId = d.sessionId
where a.jobs_purpose in ('external')
	and d.sessionId is null	

drop table if exists #tmp_sesiones_total_sesiones_v2_1;
select 
	ac.*
	,'agent' as participante_dsc
into #tmp_sesiones_total_sesiones_v2_1
from #tmp_sesiones_total_sesiones as ac
inner join (
	select 
		jobs_conversationId
		,sessionId
		,row_number() over(partition by jobs_conversationId order by segments_segmentStart ) as rowOrder
	from #tmp_sesiones_total_sesiones 
	where jobs_purpose = 'agent'
	)as a
	ON ac.jobs_conversationId = a.jobs_conversationId
	and a.sessionId = ac.sessionId
	and a.rowOrder > 1
where ac.jobs_purpose = 'agent'

drop table if exists #tmp_sesiones_total_sesiones_v3;
select
*
into #tmp_sesiones_total_sesiones_v3
from #tmp_sesiones_total_sesiones_v2
union all 
select *from #tmp_sesiones_total_sesiones_v2_1

--#########################################################################################################
-- Construye base F Call Master
--#########################################################################################################

drop table if exists #tmp_genesys_f_callmaster;
select distinct
	a.jobs_conversationId -- Adicional
	,a.jobs_conversationId as MainConversation_cde 
    ,a.jobs_participantId as jobs_participantId  
	,convert(varchar(100), null) as m_LoadedDate_id
	,convert(varchar(100), null) as m_company_id
	,convert(varchar(100), null) as Company_cde  -- Adicional
	,convert(varchar(100), null) as Customer_cde  -- Adicional
	,convert(numeric(28,0), null) as m_customer_id
	,convert(varchar(100), null) as CallQueue_nme
	,convert(varchar(100), null) as m_CreatedOn_id
	,convert(varchar(100), null) as m_CallEnded_id
	,convert(varchar(100), null) as m_ContactCreation_id
	,convert(datetime, null) as CustomerSignup_dte
	,convert(datetime, null) as ContactCreation_dte
	,CONVERT(datetime, a.segments_segmentStart) as CallCreation_dte 
	,CONVERT(datetime, a.segments_segmentEnd) as CallEnded_dte 
	,convert(varchar(100), null) as CallType_dsc
	,convert(varchar(100), null) as Campaign_nme
	,convert(varchar(max), null) as CallMotive_dsc
	,convert(varchar(100), null) as PhoneGenesys_nbr -- Adicional
	,convert(varchar(100), null) as Phone_nbr
	,convert(varchar(100), null) as CallAgent_nme
	,a.segments_segmentType as CallResult_nme
	,a.segments_segmentType as CallResultCampaign_me
	,convert(varchar(100), null) as CallSummary_dsc
	,a.segments_segmentType as CallResultsGeneral_dsc
	,a.mediatype as AgentAction_dsc
	,convert(varchar(100), null) as ExtensionTransfer_nbr
	,convert(varchar(100), null) as WaitTime_val
	,convert(varchar(100), null) as TalkTime_val
	,convert(varchar(100), null) as TotalTalkTime_val
	,convert(varchar(100), null) as Intent_nbr
	,a.segments_wrapUpCode as CallDisposalMotive_dsc
	,convert(varchar(100), null) as Onboarding_ID
	,a.sessionId as Xcally_cde -- Sesiones
	,convert(varchar(100), null) as SurveySent
	,convert(datetime, null) as Injection_dte
	,convert(datetime, null) as LastStatus_dte
	,convert(varchar(max), null) as Note_dsc
	,convert(varchar(100), null) as CallDisposalSecondMotive_dsc
	,convert(varchar(100), null) as CallDisposalThirdMotive_dsc
	,convert(datetime, null) as AnswerTime_dte
	,convert(varchar(100), null) as C_OnboardingID
	,convert(varchar(100), null) as C_Producto
	,convert(varchar(100), null) as C_NombreProducto
	,convert(varchar(100), null) as C_Distribuidor
	,convert(varchar(100), null) as DisposalCode_id
	,convert(varchar(100), null) as DirectionCall_dsc
	,convert(numeric(32,2), null) as TalkTime_sec
	,convert(varchar(100), null) as PhoneANI_nbr -- Adicional
	,convert(varchar(100), null) as PhoneDNIS_nbr -- Adicional
	,a.peerId as peerId -- Sesiones
	,convert(varchar(200), null) as contactlists_id
	,participante_dsc
    ,convert(varchar(500), null) as ProcessName_dsc
into #tmp_genesys_f_callmaster
from #tmp_sesiones_total_sesiones_v3 as a
;

--#########################################################################################################
-- Actualiza Telefono 
--#########################################################################################################

update a
set a.PhoneGenesys_nbr = case
							when b.direction = 'inbound' and substring(b.ani,0,4) ='tel' then b.ani
							when b.direction = 'outbound' then 
								case 
									when substring(b.dnis,0,4)='tel' then b.dnis
									when substring(b.sessionDnis,0,4)='tel' then b.sessionDnis
								end
							else null 
						end 
	,a.CallQueue_nme = b.direction -- Se actualiza mas adelante
	,a.DirectionCall_dsc = b.direction 
	,a.PhoneANI_nbr = b.ani
	,a.PhoneDNIS_nbr = b.dnis
from #tmp_genesys_f_callmaster as a
left join #tmp_json_sessions as b
	on a.jobs_conversationId = b.jobs_conversationId
	and a.Xcally_cde = b.sessionId
where substring(b.dnis,0,4) = 'tel'
	or substring(b.sessionDnis,0,4) = 'tel'
	or substring(b.ani,0,4) = 'tel';

-- Actualiza Pais 
update a
set a.Company_cde = b.countryCode
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
where b.countryCode is not null;

-- Actualiza Lista 
update a
set a.contactlists_id = b.dialerContactListId
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
;

update a
set a.Company_cde = 'PE'
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_sessions as b
	on a.jobs_conversationId = b.jobs_conversationId
where b.remote like '%peru%'
	and a.Company_cde is null;

update a
set a.Company_cde = 'MX'
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_sessions as b
	on a.jobs_conversationId = b.jobs_conversationId
where b.remote like '%mexico%'
	and a.Company_cde is null;

-- Actualiza lista/campa�a/cola
update a
	set a.Campaign_nme = c.camp_name
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
inner join stg.dbo.tmp_genesys_campaigns as c
	on b.dialerCampaignId = c.camp_id;

update a
	set a.CallType_dsc = c.contactlists_name
		,a.CallMotive_dsc = c.contactlists_name
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
inner join stg.dbo.tmp_genesys_contactlists as c
	on b.dialerContactListId = c.contactlists_id;

update a
	set a.CallQueue_nme = d.queues_name
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_sessions as b
	on a.jobs_conversationId = b.jobs_conversationId
left join stg.dbo.tmp_genesys_jobs_session_segments as c
	on b.sessionId = c.segments_sessionId
left join stg.dbo.tmp_genesys_queues as d
	on c.segments_queueId = d.queues_id
where d.queues_id is not null;

update a
	set a.CallQueue_nme = b.QueuName
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
where a.CallQueue_nme is null
	and b.QueuName is not null

-- Update Agente / Usuario
update a
	set a.CallAgent_nme = left(c.users_email, charindex('@',users_email) - 1)		
from #tmp_genesys_f_callmaster as a
inner join #tmp_json as b
	on a.jobs_conversationId = b.jobs_conversationId
inner join stg.dbo.tmp_genesys_users as c
	on b.jobs_userId = c.users_id	
left join #tmp_sesiones_total_sesiones_v2_1 as d
	on d.jobs_conversationId = a.jobs_conversationId
	and d.jobs_participantId = a.jobs_participantId
	and d.sessionId = a.Xcally_cde
where d.sessionId is null
;

update a
	set a.CallAgent_nme = left(c.users_email, charindex('@',users_email) - 1)
from #tmp_genesys_f_callmaster as a
inner join #tmp_sesiones_total_sesiones_v2_1 as d
	on a.jobs_conversationId = d.jobs_conversationId
	and a.Xcally_cde = d.sessionId
inner join #tmp_json as b
	on a.jobs_conversationId = b.jobs_conversationId
	and d.jobs_participantId = b.jobs_participantId
inner join stg.dbo.tmp_genesys_users as c
	on b.jobs_userId = c.users_id
	;

--#########################################################################################################
-- Actuliza datos de la conversacion
--#########################################################################################################

update a
	set a.C_Distribuidor	= case when len(b.C_Distribuidor)>1 and b.C_Distribuidor like '%dialer%' then null else b.C_Distribuidor end
		,a.Onboarding_ID	= case when len(b.C_OnboardingID)>1 and b.C_OnboardingID like '%dialer%' then null else try_cast(b.C_OnboardingID as int) end 
		,a.C_Producto		= case when len(b.C_Producto)>1 and b.C_Producto like '%dialer%' then null else b.C_Producto end
		,a.C_NombreProducto = case when len(b.C_NombreProducto)>1 and b.C_NombreProducto like '%dialer%' then null else b.C_NombreProducto end
		,a.CallMotive_dsc	= case when len(b.C_Motivo)>1 and b.C_Motivo like '%dialer%' then a.CallMotive_dsc else b.C_Motivo end
		,a.CallQueue_nme	= case when len(b.QueuName)>1 and b.QueuName like '%dialer%' then a.CallQueue_nme else b.QueuName end
		,a.MainConversation_cde = case 
									 when len(b.IdInteraction)>5 and b.IdInteraction not like '%dialer%'  then b.IdInteraction
									 else a.MainConversation_cde
								   end
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId

--#########################################################################################################
-- Determina si fue contactado
--#########################################################################################################

drop table if exists #tmp_tiempo;
select
	a.*
	,cast(a.metrics_value as numeric(32,2))/1000 as TalkTime_sec
	,case
		when xc.participante_dsc = 'agent' then null
		else b.peerId
	end as peerId
into #tmp_tiempo
from stg.dbo.tmp_genesys_jobs_session_metrics as a
inner join #tmp_json_sessions as b
	on a.metrics_sessionId = b.sessionId	
left join #tmp_genesys_f_callmaster as xc
	on a.metrics_sessionId = xc.Xcally_cde
	

update a 
set a.peerId =  null
from #tmp_genesys_f_callmaster as a
where participante_dsc = 'agent';	

update a
set a.TotalTalkTime_val = CONVERT(VARCHAR(8), DATEADD(SECOND, b.TalkTime_sec, 0), 108)
from #tmp_genesys_f_callmaster as a
inner join #tmp_tiempo as b
	on a.Xcally_cde = b.metrics_sessionId
		or a.Xcally_cde = b.peerId
where metrics_name in ('tTalkComplete')

update a
set a.TalkTime_val =  CONVERT(VARCHAR(8), DATEADD(SECOND, b.TalkTime_sec, 0), 108)
from #tmp_genesys_f_callmaster as a
inner join #tmp_tiempo as b
	on a.Xcally_cde = b.metrics_sessionId
		or a.Xcally_cde = b.peerId
where metrics_name in ('tTalk')

update a
set a.TalkTime_sec =  b.TalkTime_sec
from #tmp_genesys_f_callmaster as a
inner join #tmp_tiempo as b
	on a.Xcally_cde = b.metrics_sessionId
	or a.Xcally_cde = b.peerId
where metrics_name in ('tTalk')

update a
set a.WaitTime_val =  CONVERT(VARCHAR(8), DATEADD(SECOND, b.TalkTime_sec, 0), 108)
from #tmp_genesys_f_callmaster as a
inner join #tmp_tiempo as b
	on a.Xcally_cde = b.metrics_sessionId
	or a.Xcally_cde = b.peerId
where metrics_name in ('tAnswered')

-- Total Talk Time 
update a
set a.TotalTalkTime_val = RIGHT('00' + CAST(DATEPART(HOUR, CallEnded_dte - CallCreation_dte) AS VARCHAR(2)), 2) + ':' +
    RIGHT('00' + CAST(DATEPART(MINUTE, CallEnded_dte - CallCreation_dte) AS VARCHAR(2)), 2) + ':' +
    RIGHT('00' + CAST(DATEPART(SECOND, CallEnded_dte - CallCreation_dte) AS VARCHAR(2)), 2)
from #tmp_genesys_f_callmaster as a
where a.TotalTalkTime_val is null

-- Valida que Total talk no se menor a talktime
update #tmp_genesys_f_callmaster
	set TotalTalkTime_val = TalkTime_val
where TalkTime_val>TotalTalkTime_val

-- Se coloca cero para todos los nulos en Tiempo Espera
update a
set a.WaitTime_val = '00:00:00'
from #tmp_genesys_f_callmaster as a
where a.WaitTime_val is null

-- Se coloca cero para todos los nulos en Tiempo Espera
update a
set a.TotalTalkTime_val = '00:00:00'
from #tmp_genesys_f_callmaster as a
where a.TalkTime_val is null
	and a.WaitTime_val = '00:00:00';

--#########################################################################################################
-- Se agrega si fue contactado o no
--#########################################################################################################

update a
set a.CallResultsGeneral_dsc = 'ANSWERED'
from #tmp_genesys_f_callmaster as a
where TalkTime_val > '00:00:00';

update a
set a.CallResultsGeneral_dsc = 'NO ANSWERED'
from #tmp_genesys_f_callmaster as a
where TalkTime_val <= '00:00:00';

--#########################################################################################################
-- Determina la tipificacion
--#########################################################################################################

--- Tipificaciones
with tmp_tipificacion as (
	select 
		b.sessionId as Xcally_cde
		,b.peerId
		,max(c.segments_wrapUpCode) as segments_wrapUpCode
		,max(c.segments_wrapUpNote) as segments_wrapUpNote
	from #tmp_json_sessions as b
	inner join stg.dbo.tmp_genesys_jobs_session_segments as c
		on b.sessionId = c.segments_sessionId
		and c.segments_segmentType in ('wrapup')
		and c.segments_wrapUpCode not in (
            'ININ-OUTBOUND-AMBIGUOUS'
            ,'ININ-OUTBOUND-BUSY'
            ,'ININ-OUTBOUND-CAMPAIGN-FORCED-OFF'
            ,'ININ-OUTBOUND-CAMPAIGN-RECYCLE-CANCELLED-RECALL'
            ,'ININ-OUTBOUND-CONTACT-ATTEMPT-LIMIT-SKIPPED'
            ,'ININ-OUTBOUND-CONTACT-NOT-FOUND'
            ,'ININ-OUTBOUND-DISCONNECT'
            ,'ININ-OUTBOUND-EXTERNALLY-THROTTLED'
            ,'ININ-OUTBOUND-FAILED-TO-REACH-AGENT'
            ,'ININ-OUTBOUND-FAILED-TO-REACH-FLOW'
            ,'ININ-OUTBOUND-FAX'
            ,'ININ-OUTBOUND-LIVE-VOICE'
            ,'ININ-OUTBOUND-MACHINE'
            ,'ININ-OUTBOUND-NO-ANSWER'
            ,'ININ-OUTBOUND-NO-CALLABLE-NUMBERS-SKIPPED'
            ,'ININ-OUTBOUND-NUMBER_COULD_NOT_BE_DIALED'
            ,'ININ-OUTBOUND-NUMBER-ATTEMPT-LIMIT-SKIPPED'
            ,'ININ-OUTBOUND-PREVIEW-SKIPPED'
            ,'ININ-OUTBOUND-RULE-SKIPPED'
            ,'ININ-OUTBOUND-SIT-CALLABLE'
            ,'ININ-OUTBOUND-SIT-UNCALLABLE'
            ,'ININ-OUTBOUND-TRANSFERRED-TO-FLOW'
            ,'ININ-OUTBOUND-TRANSFERRED-TO-QUEUE'
            ,'ININ-OUTBOUND-ZONE-BLOCKED-SKIPPED'
            ,'ININ-SYSTEM-LOGOUT'
            ,'ININ-WRAP-UP-DELETED'
            ,'ININ-WRAP-UP-TIMEOUT'
            )
	group by b.sessionId 
		,c.segments_segmentType
		,b.peerId
	)

update a
	set a.CallDisposalMotive_dsc = b.segments_wrapUpCode
		,a.DisposalCode_id = convert(varchar(50),b.segments_wrapUpCode)
		,a.Note_dsc = b.segments_wrapUpNote
from #tmp_genesys_f_callmaster as a
inner join tmp_tipificacion as b
	on a.Xcally_cde = b.Xcally_cde
		or a.Xcally_cde = b.peerId
where a.CallDisposalMotive_dsc is null;

--Asigna la tipificacion por el agente

drop table if exists #tmp_json_wrapupcode;
select distinct
    wrapupcodes_id
    ,wrapupcodes_name
into #tmp_json_wrapupcode
from stg.dbo.tmp_genesys_jobs_wrapupcodes

update a
	set a.CallDisposalMotive_dsc = b.wrapupcodes_name
		,a.DisposalCode_id = b.wrapupcodes_id
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_wrapupcode as b
	on a.CallDisposalMotive_dsc = b.wrapupcodes_id;

---- Separa la tipificacion
drop table if exists #tmp_tipificacion_separado;
select
	Xcally_cde
	,CallDisposalMotive_dsc
	,SUBSTRING(CallDisposalMotive_dsc, 1, CHARINDEX('|', CallDisposalMotive_dsc) - 1) as primero
	,LEN(CallDisposalMotive_dsc) - LEN(REPLACE(CallDisposalMotive_dsc, '|', '')) as Cantidad
	,case
		when (LEN(CallDisposalMotive_dsc) - LEN(REPLACE(CallDisposalMotive_dsc, '|', '')))=2 then
		SUBSTRING(CallDisposalMotive_dsc, CHARINDEX('|', CallDisposalMotive_dsc) + 1, CHARINDEX('|', CallDisposalMotive_dsc, CHARINDEX('|', CallDisposalMotive_dsc) + 1) - CHARINDEX('|', CallDisposalMotive_dsc) - 1) 
		else null
	end as segundo
	,case
		when (LEN(CallDisposalMotive_dsc) - LEN(REPLACE(CallDisposalMotive_dsc, '|', '')))=2 then
		SUBSTRING(CallDisposalMotive_dsc, CHARINDEX('|', CallDisposalMotive_dsc, CHARINDEX('|', CallDisposalMotive_dsc) + 1) + 1, LEN(CallDisposalMotive_dsc)) 
		else null
	end as tercero
into #tmp_tipificacion_separado
from #tmp_genesys_f_callmaster
where CallDisposalMotive_dsc like '%|%';

update a
set a.CallDisposalMotive_dsc = b.primero
	,a.CallDisposalSecondMotive_dsc = b.segundo
	,a.CallDisposalThirdMotive_dsc = b.tercero
from #tmp_genesys_f_callmaster as a
left join #tmp_tipificacion_separado as b
	on a.Xcally_cde = b.Xcally_cde;

--#########################################################################################################
-- Actualiza notas 
--#########################################################################################################

update a
set a.Note_dsc = iif(len(b.Notas)>1 and b.Notas like '%dialer%', iif(b.C_Notas like '%{{%', null, b.C_Notas),b.Notas)
from #tmp_genesys_f_callmaster as a
inner join #tmp_json_attributes as b
	on a.jobs_conversationId = b.jobs_conversationId
where (a.Note_dsc is null
        or a.Note_dsc = ''
        or a.Note_dsc like '%{{%')
    and (
    (b.Notas is not null
        and b.Notas <> ''
        and b.Notas not like '%{{%')
    or (b.C_Notas is not null
        and b.C_Notas <> ''
        and b.C_Notas not like '%{{%')
        )
    ;

--#########################################################################################################
-- Asinga codigo de compania a cada registro
--#########################################################################################################

update #tmp_genesys_f_callmaster
	set Company_cde = 'MX'
where Company_cde like '%m%'
	and Company_cde <> 'MX';

update #tmp_genesys_f_callmaster
	set Company_cde = 'PE'
where Company_cde like '%p%'
	and Company_cde <> 'PE';

update a
	set a.m_company_id = c.m_company_id 
from #tmp_genesys_f_callmaster as a
inner join md.dbo.m_company as c
	on a.Company_cde = c.Company_cde
where a.m_company_id is null;

--#########################################################################################################
-- Fecha que fue inyectado el contacto
--#########################################################################################################

update #tmp_genesys_f_callmaster
	set Phone_nbr = replace(replace(replace(replace(replace(replace(PhoneGenesys_nbr,'tel:+',''),'*',''),' ',''),'tel:',''),'tel',''),':','')
		,PhoneANI_nbr = replace(replace(replace(replace(replace(replace(PhoneANI_nbr,'tel:+',''),'*',''),' ',''),'tel:',''),'tel',''),':','')
		,PhoneDNIS_nbr = replace(replace(replace(replace(replace(replace(PhoneDNIS_nbr,'tel:+',''),'*',''),' ',''),'tel:',''),'tel',''),':','');

update #tmp_genesys_f_callmaster
set	Company_cde = case 
					when substring(Phone_nbr,1,2) = '51'  then 'PE'
					when substring(Phone_nbr,1,2) = '52' then 'MX'
					else '-1'
				end
	,m_Company_id = case 
					when substring(Phone_nbr,1,2) = '51'  then 2
					when substring(Phone_nbr,1,2) = '52' then 3
					else -1
				end
where m_Company_id = '' 
	or m_Company_id is null;

update #tmp_genesys_f_callmaster
set	Phone_nbr = case 
					when len(Phone_nbr)=12 and m_company_id = 3 then substring(Phone_nbr,3,10)
					when len(Phone_nbr)>12 and m_company_id = 3 then substring(Phone_nbr,len(Phone_nbr)-9,10)
					when substring(Phone_nbr,1,2) = '51' and m_company_id = 2 then substring(Phone_nbr,3,len(Phone_nbr))
					when substring(Phone_nbr,1,2) = '51' then substring(Phone_nbr,3,len(Phone_nbr))
					when substring(Phone_nbr,1,2) = '52' then substring(Phone_nbr,3,len(Phone_nbr))
					else Phone_nbr
				end;

--#########################################################################################################
--Asigna codigo de cliente
--#########################################################################################################

drop table if exists #tmp_onboarding;
SELECT 
	a.MobilePhone_nbr
	,a.m_customer_id 
	,a.m_Company_id
	,max(a.ByTLTable_nbr) Onboarding_id
	,max(a.OnboardingDate_dte) OnboardingDate_dte
into #tmp_onboarding
from dwh.DBO.f_customeronboarding a
inner join #tmp_genesys_f_callmaster as b
	on a.MobilePhone_nbr = b.Phone_nbr
where a.m_customer_id <>-1
group by a.MobilePhone_nbr
	,a.m_customer_id 
	,a.m_Company_id;

update a
set a.Onboarding_ID = ob.Onboarding_id
	,a.CustomerSignup_dte = cast(ob.OnboardingDate_dte as date)
FROM #tmp_genesys_f_callmaster a
inner join #tmp_onboarding as ob
ON ob.MobilePhone_nbr = a.Phone_nbr
where a.Onboarding_ID is null;

--#########################################################################################################
-- Intentos
--#########################################################################################################

drop table if exists #tmp_intentos;
select
	cast(CallCreation_dte as date) as CallCreation_dte
	,Campaign_nme
	,Phone_nbr
	,count(distinct Xcally_cde) Intentos
into #tmp_intentos
from #tmp_genesys_f_callmaster
group by cast(CallCreation_dte as date)
	,Phone_nbr
	,Campaign_nme;

update a 
	set a.Intent_nbr =  b.Intentos
from #tmp_genesys_f_callmaster as a
inner join #tmp_intentos as b
	on cast(a.CallCreation_dte as date) = b.CallCreation_dte
	and a.Phone_nbr = b.Phone_nbr
	and a.Campaign_nme = b.Campaign_nme;

--#########################################################################################################
-- ID para fechas
--#########################################################################################################

update MC
	set MC.m_LoadedDate_id = xx.m_time_id
from #tmp_genesys_f_callmaster as MC
LEFT JOIN [MD].dbo.m_Time xx ON getdate() between xx.BottomRange_dte and xx.TopRange_dte;

update MC
	set MC.m_CreatedOn_id = y.m_time_id 
from #tmp_genesys_f_callmaster as MC
inner join [MD].dbo.m_time y on MC.CallCreation_dte between y.BottomRange_dte and y.TopRange_dte;

update MC
	set MC.m_CallEnded_id = z.m_time_id
from #tmp_genesys_f_callmaster as MC
inner join [MD].dbo.m_time z on mc.CallEnded_dte between z.BottomRange_dte and z.TopRange_dte;

update MC
	set MC.m_ContactCreation_id = ccd.m_time_id
from #tmp_genesys_f_callmaster as MC
inner join [MD].dbo.m_time ccd on MC.ContactCreation_dte between ccd.BottomRange_dte and ccd.TopRange_dte;

--#########################################################################################################
-- Elimina duplicados
--#########################################################################################################

drop table if exists #tmp_duplicados;
select
	xcally_cde
	,ROW_NUMBER() OVER(PARTITION BY xcally_cde ORDER BY Intent_nbr desc, CallCreation_dte) AS RowOrder
	into #tmp_duplicados
from #tmp_genesys_f_callmaster ;

delete a
from #tmp_genesys_f_callmaster as a
inner join #tmp_duplicados as b
	on a.xcally_cde = b.xcally_cde
where RowOrder>1;

--#########################################################################################################
--Limpieza de atributos y id del cliente
--#########################################################################################################

drop table if exists #tmp_GenesysContacts_max;
select 
    Phone_nbr
    ,details_contactlists_id
    ,details_contactReason
    ,cast(max(FechaCarga_dte) as date) as FechaCarga_dte
	,cast(max(FechaCreado_dte) as date) as FechaCreado_dte
into #tmp_GenesysContacts_max
from #tmp_GenesysContacts
group by 
	Phone_nbr
    ,details_contactlists_id
    ,details_contactReason;

drop table if exists #tmp_GenesysContacts_max_order;
SELECT
	a.Phone_nbr
	,a.details_contactlists_id
	,a.details_contactReason
	,a.FechaCreado_dte
	,isnull(a.FechaCarga_dte,a.FechaCreado_dte) as FechaCarga_dte
	,ROW_NUMBER() OVER(PARTITION BY Phone_nbr ORDER BY FechaCarga_dte asc) as RowOrder
into #tmp_GenesysContacts_max_order 
from #tmp_GenesysContacts_max as a;

drop table if exists #tmp_GenesysContacts_max_range;
select
	a.*
	,isnull(b.FechaCarga_dte ,getdate()) as FechaUltStatus_dte
into #tmp_GenesysContacts_max_range
from #tmp_GenesysContacts_max_order as a
left join	#tmp_GenesysContacts_max_order as b
	on a.Phone_nbr = b.Phone_nbr
	and a.RowOrder+1 = b.RowOrder

-- Motivo de la lista
update a
	set a.CallMotive_dsc = b.details_contactReason
from #tmp_genesys_f_callmaster as a
inner join #tmp_GenesysContacts_max_range as b
	on a.Phone_nbr = b.Phone_nbr
	and a.contactlists_id = b.details_contactlists_id
	and cast(a.CallCreation_dte as date) between FechaCarga_dte and FechaUltStatus_dte;	

-- Datos de Cliente
drop table if exists #tmp_GenesysCustomerId;
select
    b.Phone_nbr
    ,b.details_phone
    ,c.m_customer_id
	,c.Customer_cde
	,b.details_countryCode
	,b.m_Company_id
into #tmp_GenesysCustomerId    
from #tmp_GenesysContacts as b
left join md.dbo.m_CustomerDomainData as c
	on cast(b.CustomerId as numeric(28,0)) = c.CustomerBytl_id
group by b.Phone_nbr
    ,b.details_phone
    ,c.m_customer_id
	,c.Customer_cde
	,b.details_countryCode
	,b.m_Company_id;

-- Datos de Cliente
update a
	set a.Company_cde =  b.details_countryCode
		,a.m_Company_id = b.m_Company_id
from #tmp_genesys_f_callmaster as a
inner join #tmp_GenesysContacts as b
	on a.Phone_nbr = b.Phone_nbr
where a.m_Company_id is null;

update a
	set a.m_customer_id = isnull(b.m_customer_id,-1)
		,a.Customer_cde = isnull(b.Customer_cde,-1)
from #tmp_genesys_f_callmaster as a
inner join #tmp_GenesysCustomerId as b
	on a.Phone_nbr = b.Phone_nbr
where b.m_customer_id is not null;

-- Fechas
drop table if exists #tmp_fecha_carga;
select
	b.details_phone
	,b.Phone_nbr
	,b.details_contactlists_id as contactlists_id
	,max(b.FechaUltStatus_dte) as FechaUltStatus_dte
	,min(b.FechaCreado_dte) as FechaCreado_dte
into #tmp_fecha_carga
from #tmp_GenesysContacts as b
group by b.details_phone
	,b.Phone_nbr
	,b.details_contactlists_id;

-- Actualiza la fecha de creacion del contacto, fecha d ecarga, y ultimo estatus
update a
	set a.LastStatus_dte = b.FechaUltStatus_dte
		,a.ContactCreation_dte = b.FechaCreado_dte
from #tmp_genesys_f_callmaster as a
inner join #tmp_fecha_carga as b
	on a.Phone_nbr = b.Phone_nbr
	and a.contactlists_id = b.contactlists_id;   

--#########################################################################################################
-- Obtener fechas de inyeccuib de llamada por process
--#########################################################################################################
--- Catalogo processdName

drop table if exists #tmp_ProcessName_atributos;
select distinct
	jobs_conversationId
	,processName
into #tmp_ProcessName_atributos
from #tmp_json_attributes
where processName is not null and processName <> '{{dialer.processName}}' and processName <>''

-- Actualiza el proceso de processName
update a
	set a.ProcessName_dsc = b.processName
from #tmp_genesys_f_callmaster as a
inner join #tmp_ProcessName_atributos as b
	on a.jobs_conversationId = b.jobs_conversationId
where a.ProcessName_dsc is null;

--- fecha Inyeccion minima de los ultimos 7 dias 
drop table if exists #tmp_GenesysContactListD;
select
	a.details_phone
	,SUBSTRING(a.details_phone,3,len(a.details_phone)) as Phone_nbr
	,a.details_processName
	,a.details_countryCode
	,case 
		when a.details_countryCode = 'MX'  then 3
		when a.details_countryCode = 'PE'  then 2
		else -1
	end as m_Company_id
	,min(try_CONVERT(DATETIME, substring(replace(a.details_fecha_carga,'Z',' '),1,23), 126)) as InjectionDate_dte
into #tmp_GenesysContactListD
from stg.dbo.tmp_genesys_contactlists_details as a
where cast(try_CONVERT(DATETIME, substring(replace(a.details_fecha_carga,'Z',' '),1,23), 126) as date) >= cast(getdate()-7 as date)
group by a.details_phone
	,SUBSTRING(a.details_phone,3,len(a.details_phone)) 
	,a.details_processName
	,a.details_countryCode
	,case 
		when a.details_countryCode = 'MX'  then 3
		when a.details_countryCode = 'PE'  then 2
		else -1
	end;

update a
	set a.Injection_dte = isnull(bytl.dbo.getdatefromutc2(b.InjectionDate_dte,details_countryCode),dateadd(hour,-6,b.InjectionDate_dte))
from #tmp_genesys_f_callmaster as a
inner join #tmp_GenesysContactListD as b
	on a.Phone_nbr = b.Phone_nbr
	and a.processName_dsc = b.details_processName
	AND isnull(bytl.dbo.getdatefromutc2(b.InjectionDate_dte,details_countryCode),dateadd(hour,-6,b.InjectionDate_dte)) between a.CallCreation_dte -7 and a.CallCreation_dte and a.Injection_dte is null;

--#########################################################################################################
-- Limpieza de Customer ID con el dato de atributor
--#########################################################################################################

drop table if exists #tmp_Cliente_atributos;
select distinct
	jobs_conversationId
	,try_cast(C_CustomerId as varchar(25)) as Customer_cde
into #tmp_Cliente_atributos
from #tmp_json_attributes
where C_CustomerId is not null;

update a
	set a.m_Customer_id = c.m_Customer_id
from #tmp_genesys_f_callmaster as a
inner join #tmp_Cliente_atributos as b
	on a.jobs_conversationId = b.jobs_conversationId
inner join md.dbo.m_CustomerDomainData as c
	on b.Customer_cde  = c.Customer_cde	
where a.m_Customer_id is null;

update a
	set a.Customer_cde = -1
		,a.m_Customer_id = -1
from #tmp_genesys_f_callmaster as a
where a.Customer_cde = 0 
	or a.Customer_cde is null

drop table if exists #tmp_genesys_f_callmaster_m_customer_id;
select
    Phone_nbr
    ,m_Customer_id
    ,ROW_NUMBER() OVER(PARTITION BY Phone_nbr ORDER BY m_Customer_id) as RowOrder
into #tmp_genesys_f_callmaster_m_customer_id
from dwh.dbo.f_call_mastercalls as a
where a.CallCreation_dte >= dateadd(day,-30,getdate())
    and a.m_Customer_id <> -1
    and a.Phone_nbr is not null
group by Phone_nbr
    ,m_Customer_id

update a
    set a.m_Customer_id = b.m_Customer_id
from #tmp_genesys_f_callmaster as a
inner join #tmp_genesys_f_callmaster_m_customer_id as b
    on a.Phone_nbr = b.Phone_nbr
left join #tmp_genesys_f_callmaster_m_customer_id as c
    on a.Phone_nbr = c.Phone_nbr
    and c.RowOrder = 2
where c.RowOrder is null
    and a.m_Customer_id = -1;

--#########################################################################################################
-- Fecha UTC
--#########################################################################################################

update a
set CallCreation_dte = isnull(bytl.dbo.getdatefromutc2(CallCreation_dte,Company_cde),dateadd(hour,-6,CallCreation_dte))
	,CallEnded_dte = isnull(bytl.dbo.getdatefromutc2(CallEnded_dte,Company_cde),dateadd(hour,-6,CallEnded_dte))
from #tmp_genesys_f_callmaster as a

--#########################################################################################################
-- Elimina las existentes Para no duplicar las sesiones de Genesys
--#########################################################################################################

delete b
from dwh.dbo.f_call_mastercalls as a
inner join #tmp_genesys_f_callmaster as b
	on a.Xcally_cde = b.Xcally_cde;

--#########################################################################################################
-- Realiza Insert
--#########################################################################################################

insert into dwh.dbo.f_call_mastercalls (
	m_LoadedDate_id
	,m_Company_id
	,m_Customer_id
	,m_CreatedOn_id
	,m_CallEnded_id
	,CallQueue_nme
	,CallCreation_dte
	,CallEnded_dte
	,CallType_dsc
	,Campaign_nme
	,CallMotive_dsc
	,Phone_nbr
	,CallAgent_nme
	,CallResult_nme
	,CallResultCampaign_me
	,CallSummary_dsc
	,CallResultsGeneral_dsc
	,AgentAction_dsc
	,ExtensionTransfer_nbr
	,WaitTime_val
	,TalkTime_val
	,TotalTalkTime_val
	,Intent_nbr
	,CallDisposalMotive_dsc
	,ContactCreation_dte
	,Xcally_cde
	,Onboarding_id
	,CustomerSignup_dte
	,SatisfactionSurvey_ind
	,m_ContactCreation_id
	,Injection_dte
	,LastStatus_dte
	,Note_dsc
	,CallDisposalSecondMotive_dsc
	,CallDisposalThirdMotive_dsc
	,AnswerTime_dte
	,DisposalCode_cde --- [nvarchar](50) NULL,
	,Conversation_cde
	,MainConversation_cde
	,ProductType_dsc
	,Product_dsc
	,Distributor_nme
	,DirectionCall_dsc
	,TalkTime_sec
	,PhoneANI_nbr
	,PhoneDNIS_nbr
    ,Participant_cde
    ,ProcessName_dsc
)

select 
	m_LoadedDate_id
	,m_company_id
	,m_customer_id
	,m_CreatedOn_id
	,m_CallEnded_id
	,CallQueue_nme
	,CallCreation_dte
	,CallEnded_dte
	,CallType_dsc
	,Campaign_nme
	,CallMotive_dsc
	,Phone_nbr
	,CallAgent_nme
	,CallResult_nme
	,CallResultCampaign_me
	,CallSummary_dsc
	,CallResultsGeneral_dsc
	,AgentAction_dsc
	,ExtensionTransfer_nbr
	,WaitTime_val
	,TalkTime_val
	,TotalTalkTime_val
	,Intent_nbr
	,CallDisposalMotive_dsc
	,ContactCreation_dte
	,Xcally_cde
	,Onboarding_ID
	,CustomerSignup_dte
	,SurveySent
	,m_ContactCreation_id
	,Injection_dte
	,LastStatus_dte
	,Note_dsc
	,CallDisposalSecondMotive_dsc
	,CallDisposalThirdMotive_dsc
	,AnswerTime_dte
	,DisposalCode_id
	,jobs_conversationId
	,MainConversation_cde
	,C_Producto
	,C_NombreProducto
	,C_Distribuidor
	,DirectionCall_dsc
	,TalkTime_sec
	,PhoneANI_nbr
	,PhoneDNIS_nbr
    ,jobs_participantId
    ,ProcessName_dsc
from #tmp_genesys_f_callmaster

--#########################################################################################################
-- Finaliza SQL
--#########################################################################################################

END;
